# Auto detect text files and perform LF normalization
* text=auto
Hola me llamo Maximiliano Raul Farren, sé que esto es para que nos presentemos. Yo soy muy deportista, actualmente entreno pesas 6 veces a la semana y practico MMA, donde entreno jiujitsu, boxeo, muay thai y kick boxing principalmente. Tengo 5 perros y soy muy feliz jeje.